/* For the screens smaller than 639px */

@media (max-width:639px){
    #emptyDiv{
        display: block;
        margin: auto;
        margin: 1rem;
    }

    #flexDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #cardContainerSection{
        margin-top: 1rem;
        margin-left: 0.2rem;
    }
}